<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <nav id="navbar">
        <ul class="nav">
            <li><a href="/shop">Shop Now</a></li>
            <li><a href="/admin/add-product">Add Products</a></li>
            <li><a href="/contact-us">Contact Us</a></li>
        </ul>
    </nav>
    <div class="container">
        <form action="/success" method="POST" name="contact" class="form">
            <h1 id="call">Book a Call</h1>
            <label for="name">Name:</label>
            <input type="text" name="name">
            <label for="email">Email:</label>
            <input type="text" name="email">
            <button type="submit">Submit</button>
    </div>
    </form>
</body>

</html>