<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <nav id="navbar">
        <ul class="nav">
            <li><a href="/shop">Shop Now</a></li>
            <li><a href="/admin/add-product">Add Products</a></li>
            <li><a href="/contact-us">Contact Us</a></li>
        </ul>
    </nav>
    <h3>Form submitted succesfully!</h3>
</body>

</html>